{% extends 'body.html.jinja2' %}

{% block title %}Klasy{% endblock %}

{% block content %}
    <center>
    <br><br><br><br>
    <span style="font-style: italic;font-size:x-large;font-family: 'Cambria';color: #4b3b34">
        "Tu na razie jest ściernisko,<br>
        Ale będzie San Francisco"
    </span>
    <span style="font-size:x-large;font-family: 'Arial';color: #4b3b34">

        <br><br><br><br>

( (  ) )<br>
        vVvIvVvIvVvIvIvVvIVvvIVvV ( ( (  ) ) ) IVvVIVVvvIvIvvVIvVvIvVIVv
        <br>
    </span>

    </center>
{% endblock %}

