{% extends 'body.html.jinja2' %}

{% block title %}Odzyskiwanie hasła{% endblock %}

{% block content %}
    <center>

    TA FUNKCJA NIE ZOSTAŁA JESZCZE ZAIMPLEMENTOWANA
    <br>
    zostało tylko założyć nowe konto:(

    <a href="\login">Wróć do strony logowania</a>

    </center>
{% endblock %}